[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
django = "*"
black = "*"
cython = "*"
fastrand = "*"
ipython = "*"
numpy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
